<div class="welcome-container">
  <div class="background-image"></div>
  <div class="gradient-overlay"></div>

  <div class="container">
    <div class="row min-vh-100 d-flex justify-content-center align-items-center">
      <div class="col-lg-8 col-md-10 col-11 text-center welcome-content animate__animated animate__fadeInUp animate__slow">
        <h1 class="text-white fw-bold mb-4 animate__animated animate__fadeInDown">
          Sistema de Evaluación<br>de Ternas Universitarias
        </h1>
        <p class="lead text-white mb-5 animate__animated animate__fadeIn">
          Selecciona tu rol para comenzar
        </p>

        <div class="mt-4 button-container animate__animated animate__fadeInUp">
          <a routerLink="/participantes" class="btn btn-lg btn-light btn-primary-hover me-3 px-4 py-2">Participantes</a>
          <a routerLink="/evaluadores" class="btn btn-lg btn-light btn-primary-hover px-4 py-2">Evaluadores</a>
        </div>
      </div>
    </div>
  </div>
</div>
