<div class="parallax-container">
  <div class="parallax-background" [style.transform]="'translateY(' + parallaxOffset + 'px)'"></div>
  <div class="gradient-overlay"></div>

  <div class="container">
    <div class="row vh-100 d-flex justify-content-center align-items-center">
      <div class="col-md-8 text-center welcome-content">
        <h1 class="display-1 text-white fw-bold mb-4 animate__animated animate__fadeInDown">
          BIENVENIDO
        </h1>
        <p class="lead text-white mb-5 animate__animated animate__fadeInUp">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, illum repudiandae aliquam vero
          libero ex praesentium quis quo provident tempora ut modi laborum optio amet perspiciatis repellat
          id aspernatur. Possimus.
        </p>

     

        <div class="mt-4">
          <a routerLink="/participantes" class="btn btn-outline-light me-2">Participantes</a>
          <a routerLink="/otro-link" class="btn btn-outline-light">Otro link</a>
        </div>
      </div>
    </div>
  </div>
</div>
